{% extends "base.html" %}

{% block title %}Kullanıcı Kayıt{% endblock title %}

{% block body %}

<body>
	<div class="untree_co-section">
      <div class="container">
        <div class="block">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8 pb-4">
              <form method="post">
              {% csrf_token %}
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="fname">İsim</label>
                      <input type="text" class="form-control" name="first_name">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="lname">Soy İsim</label>
                      <input type="text" class="form-control" name="last_name">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="lname">E-mail</label>
                      <input type="text" class="form-control" name="email">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="lname">Kullanıcı Adı</label>
                      <input type="text" class="form-control" name="username">
                    </div>
                  </div>
                </div>
                <div class="form-group mb-5">
                  <label class="text-black">Parola</label>
                  <input type="password" class="form-control" name="password1" autocomplete="new-password">
                </div>
                <div class="form-group mb-5">
                  <label class="text-black">Parolayı Doğrula</label>
                  <input type="password" class="form-control" name="password2" autocomplete="new-password">
                </div>             
                <button type="submit" class="btn btn-primary">Kullanıcı Oluştur</button><a href="{% url 'loginuser' %}"><p>Giriş Yapın</p></a><a href="{% url 'logout' %}"><p>Çıkış Yapın</p></a>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>

{% endblock body %}